<%= render 'shared/header' %>
<div class= "container">
  <div class="messages-container">
    <div class="message-overview">
      <% @bookings.each do |market| %>
      <div class="message-preview">
        <div class="user-info">
          <div class="user"><%= market.user.email %></div>
          <div class="date"><%= market.created_at %></div>
        </div>
        <div class="message-title"> <%= market.market.title %> </div>
      </div>
      <% end %>
    </div>
    <div class="chat"></div>
      <div class="messages">

      </div>
      <div class="message-form">

      </div>
      <div class="handshake">

      </div>

    </div>
  </div>
</div>
<div class="bottom"></div>
