// Specific CSS for your home-page
.banner {
display: flex;
justify-content: center;
}

#banner-img{
  background-image: url(http://res.cloudinary.com/dvknatqbv/image/upload/v1637261697/xakl2smxhql23y0viuhm.png);
  background-position: top;
  background-size: cover;
  height: 120vh;
}

.banner-text {
//  width: 80vw;
  padding-left: 12vw;
  display: flex;
  flex-direction: column;
  margin-top: 60vh;
}

.banner-text h1{
  color: $mid-blue;
  font-size: 3.5rem;
  padding-top: 440px;
}

.filter-links {
  font-size: 0.8rem;
  font-weight: bold;
}

.filter-container{
  width: 60vw;
  display: flex;
  justify-content: space-around;
  margin-bottom: 60px;
}

.banner-content {
  display: flex;
  flex-direction: column;
}

.img-left {
  background-image: url(blob-left.svg);
  background-position: left;
  background-size: cover;
  height: 120vh;
}

.img-left-small {
  background-image: url(blob-small.svg);
  background-position: left;
  background-size: cover;
}

.img-right {
  background-image: url(blob-right.svg);
  background-position: right;
  background-size: cover;
//  height: 120vh;
}

.description {
  display: flex;
  justify-content: space-around;
  align-content: center;
}

.details {
  width: 30vw;
  padding-bottom: 35vh;
}

.text-left h2 {
  text-align: left !important;
}

.text-right h2 {
  text-align: right !important;
}

.headline {
  margin-top: 100px;
  //padding-bottom: 5vh;
}

.headline h2 {
  font-size: 2rem;
}
