// Specific CSS for your home-page
.banner {
display: flex;
justify-content: center;
}

#banner-img{
  background-image: url(time-landing.png);
  background-position: top;
  background-size: cover;
  height: 120vh;
}

.banner-text {
  width: 1000px;
}

.banner-text h1{
  color: $mid-blue;
  font-size: 60px;
  padding-top: 200px;
  padding-bottom: 25px;
}
