<div class="banner" id="banner-img">
  <div class="banner-text">
      <h1>Some catchy phrase <br>to get the users <br>attention.</h1>
      <%= link_to "Search", "#", class: "btn-solid-red" %>
  </div>
</div>

<div class="container">

</div>
