.card-trip {
  width: 19vw;
  padding-top: 4px;
  height: 350px;
  box-shadow: 0 0 0 2px #ccc;
  border-radius: 5px;
  padding-left: 4px;
  padding-right: 4px;
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 0.8rem;
  font-weight: bold;
  margin: 0;
  padding-top: 8px;
  padding-bottom: 0px;
  color: $red-orange;
}

.card-trip p {
  overflow: hidden;
  font-size: 0.8rem;
  opacity: .7;
  margin: 0;
  padding-top: 8px;
  padding-bottom: 12px;
  text-overflow: ellipsis;
}


.card-trip .card-trip-infos {
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 8px;
  top: -192px;
  width: 40px;
}

.card-title{
  display: flex;
  justify-content: space-between;
}

.four-cards {
  height: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.index-cards {
  max-width: 700px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 1em;
  justify-content: center;
}

.card-btn{
  display: flex;
  justify-content: center;
}
