.navbar {
  align-items: center;
}

.navbar-lewagon {
  align-items: center;
  background: white;
  backdrop-filter: blur(26.182899475097656px) brightness(99.63891598582268%);
  text-decoration: none;
  color: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-list {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
}

.login {
    right: 35px;
    position: absolute;
    top: 15px;
}
